.DS_Store
.idea
.ipynb_checkpoints/
.vscode
.conda
.coverage*
coverage.xml
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
*.ipynb
*.pdf
*.txt
*.webm
*egg-info
nanoGPT/
ng-video-lecture/
martin/
scripts

